@use "@fontsource/material-icons/scss/mixins" as MaterialIcons;
@use "@fontsource/merriweather-sans/scss/mixins" as MerriweatherSans;
@use "@fontsource/prompt/scss/mixins" as Prompt;

@include MaterialIcons.faces(
  $weights: (400),
  $display: block,
);
@include MerriweatherSans.faces(
  $weights: (800),
  $display: block,
);
@include Prompt.faces(
  $weights: (400, 700),
  $display: block,
);
